<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto" *ngFor="let offer of offers">
            <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                <div class="blockquote-custom-icon bg-dark text-white shadow-sm"><i class="bi bi-percent"></i></div>
                <p class="mb-0 mt-2 font-italic">{{ offer.title }} <br><br> {{ offer.description }}</p>
                <footer class="blockquote-footer pt-4 mt-4 border-top">{{ offer.airline }}</footer>
            </blockquote>
        </div>
    </div>
</div>
