.custom-navbar {
    background-color: #ffffff !important;
    border: 2px solid rgb(10, 140, 220);
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
    margin: 15px;
}

.navbar button {
    border: none;
    box-shadow: none;
}

.navbar .navbar-collapse .in-row {
    display: flex;
    flex-direction: row;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
    font-weight: 600;
    padding-right: 10px;
}

.navbar .navbar-collapse .navbar-nav .nav-item button {
    border-radius: 50px;
}

.navbar .navbar-collapse .dropdown .dropdown-menu {
    margin-top: 10px;
    margin-left: -100px;
}
