<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="assets/logo.png" alt="" width="50" height="45" class="d-inline-block">
            BookMyFlight
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="admin" routerLink="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/offers">Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
            <div class="d-flex" style="float: right;">
                <ul *ngIf="!isSignedIn()" class="navbar-nav me-auto mb-2 mb-lg-0 in-row">
                    <li class="nav-item">
                        <button type="button" routerLink="/signin" class="btn btn-dark"><i class="bi bi-person"></i> Sign In</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" routerLink="/signup" class="btn btn-dark"><i class="bi bi-person-add"></i> Sign Up</button>
                    </li>
                </ul>
                <div *ngIf="isSignedIn()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/user.png" alt="" width="45" height="45" class="d-inline-block">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                        <li><a class="dropdown-item" routerLink="/booked">Bookings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="signout()">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>