:host ::ng-deep {
    .p-inputtext {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .p-fileupload .p-fileupload-buttonbar {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .p-fileupload .p-fileupload-buttonbar .p-button {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.required {
    color: red;
    margin-left: 5px;
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 5px 20px 20px;
    text-align: center;
    cursor: pointer;
}