<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="alert alert-success" role="alert">
        Note: Select a flight from available flights to confirm your booking.
      </div>
      <div class="card round-border">
        <div class="card-body black-border">
          <h5 class="card-title">Travel Details</h5>
          <p class="card-text"><strong>Source:</strong></p>
          <ul>
            <li><strong>IATA Code: </strong>{{ source.iataCode }}</li>
            <li><strong>City: </strong>{{ source.airportCity }}</li>
            <li><strong>Airport: </strong>{{ source.airportName }}</li>
          </ul>
          <p class="card-text"><strong>Destination:</strong></p>
          <ul>
            <li><strong>IATA Code: </strong>{{ destination.iataCode }}</li>
            <li><strong>City: </strong>{{ destination.airportCity }}</li>
            <li><strong>Airport: </strong>{{ destination.airportName }}</li>
          </ul>
          <p class="card-text"><strong>Date: </strong>{{ flight.date }}</p>
          <p class="card-text"><strong>Passenger Count: </strong>{{ flight.passengerCount }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-7 flight-cards" tabindex="0">
      <div class="row">
        <div *ngFor="let flight of flights" class="col-sm-6 mb-4">
          <div class="card" style="width: 22rem;">
            <img src="assets/flight.png" class="card-img-top" alt="Flight">
            <div class="card-body">
              <h5 class="card-title">Airline: <span id="airline">{{ flight.airline }}</span></h5>
              <p class="card-text"><i class="bi bi-alarm"></i> <span id="departureTime"> {{ flight.departureTime }}</span> - <span id="arrivalTime">{{ flight.arrivalTime }}</span></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Flight Number: <span id="flightNumber">{{ flight.flightNumber }}</span></li>
              <li class="list-group-item">Status: <span id="status">{{ flight.status }}</span></li>
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="classAndPrice" id="standard" (change)="onSelectChange()" value="Standard Class - Rs. {{ flight.prices[0] }}">
                  <label class="form-check-label" for="standard">Standard Class - Rs. {{ flight.prices[0] }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="classAndPrice" id="economy" (change)="onSelectChange()" value="Economy Class - Rs. {{ flight.prices[1] }}">
                  <label class="form-check-label" for="economy">Economy Class - Rs. {{ flight.prices[1] }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="classAndPrice" id="business" (change)="onSelectChange()" value="Business Class - Rs. {{ flight.prices[2] }}">
                  <label class="form-check-label" for="business">Business Class - Rs. {{ flight.prices[2] }}</label>
                </div>
              </li>
            </ul>
            <div class="card-body d-flex justify-content-center">
              <button type="button" [disabled]="isDisabled" (click)="bookTicket()" class="btn btn-dark">Book Ticket</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>